.card {
    border: none !important;
}
.card-link {
    text-decoration: none;
}
.tongue {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 30px;
    font-weight: bold;
}

.card-body {
    height: 265px;
    overflow: hidden;
    color: #000;
}
.card-body:hover {
    color: #262F36;
}

.card-img-top {
    height: 180px;
}
