.header-navigation--nav {
    background: #262F36;
}
.navigation_nav--links {
    padding: 18px 25px !important;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.navigation_nav--links:hover {
    background: #090979;
    color: #fff;
    transition: 1.5s;
}
