footer {
    background: #262F36;
    padding: 40px 0;
}
.logoWhite {
    font-weight: bold;
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
    margin-right: 30% !important;
}
.logoWhite:hover {
    color: #fff;
}
.instagram_icon:before {
    content: url("../../../assets/instagram.png");
    position: absolute;
    top: 12px;
    left: 15px;
}
.buttonInstagram {
    position: relative;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    opacity: 1;
    cursor: pointer;
    width: 171px;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 30px;
    text-decoration: none !important;
    text-transform: none;
    letter-spacing: normal;
    font-size: 23px;
    border-radius: 50px;
    color: #fff;
}
.buttonInstagram:hover {
    color: #f09433;
    text-decoration: none;
}
