.attachment {
    padding-bottom: 50px;
}
.ModalButton {
    padding: 10px 25px !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.ModalButton-envelope {
    font-size: 18px;
}
