.services {
    min-height: calc(100vh - 300px);
}
.services p {
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: bold;
    color: dimgray;
}

.services_columns {
    text-align: center;
}
.services_columns span {
    font-size: 14px;
    color: dimgray;
}
.services_columns .col-sm-3 {
    padding: 30px 10px;
}
.services_columns .col-sm-3:hover {
    border-radius: 5px;
    transition: 1.5s;
    cursor: pointer;
    background: #4646ff;
    color: #fff;
}
.services_columns .col-sm-3:hover span,
.services_columns .col-sm-3:hover .icon{
    color: #fff;
}
.icon {
    padding-bottom: 20px;
    color: #999999;
    font-size: 50px;
}
