.reviews {
    min-height: calc(100vh - 300px);
    background: #fff;
}
.reviews_column {
    padding: 30px 30px 30px 150px !important;
    margin: 10px;
}
@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 48% !important;
        max-width: 48% !important;
    }
}
.reviews_users {
    font-size: 13px;
    line-height: 2;
}
.reviews_users::before {
    content: '';
    background: url('../../assets/ic-commas.png') no-repeat;
    padding-right: 14px;
    margin-left: 10px;
}
.reviews_users::after {
    content: '';
    background: url('../../assets/is-commas-end.png') no-repeat;
    padding-left: 20px;
}
.reviews_users::after,
.reviews_users::before {
    color: #999999;
    font-weight: bold;
}
.reviews_users-name {
    color: #f6772c;
    font-weight: bold;
    text-transform: uppercase;
}
.column-1 {
    background:  url('../../assets/photo2.png') 15px 36px no-repeat;;
}
.column-2 {
    background:  url('../../assets/photo1.png') 15px 36px no-repeat;;
}
.column-3 {
    background:  url('../../assets/photo3.png') 15px 36px no-repeat;;
}
.column-4 {
    background:  url('../../assets/photo4.png') 15px 36px no-repeat;;
}
