.logo {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 24%, rgba(255,255,255,1) 28%, rgba(9,9,121,1) 32%, rgba(9,9,121,1) 49%, rgba(255,255,255,1) 53%, rgba(9,9,121,1) 57%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
    margin-right: 30% !important;
}
.logo:hover {
    color: #000;
}
.header-logo__image {
    font-size: 30px;
    margin: 0 10px 5px 0;
}
.header_navigation--logo {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-logo__links {
    text-decoration: none !important;
    padding: 15px 10px 0 !important;
    font-size: 14px;
    color: #090979;
}
.header-envelope {
    font-size: 30px;
    padding: 0 10px 0 0!important ;
    vertical-align: sub;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 22%, rgba(255,255,255,1) 28%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
