.about_us {
    padding-bottom: 50px;
}
.about_us h2,
.reviews h2,
.services h2 {
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.about_us .about_us_text {
    font-size: 16px;
    font-weight: bold;
    color: dimgray;
}
.about_us_name {
    font-size: 26px;
    margin-bottom: 0 !important;
}
